* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shoes-shop {
  border: 1px solid brown;
}

.btn-cart {
  position: fixed;
  z-index: 2;
  top: 10px;
  right: 10px;
}

ul {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-nav > li.active {
  border: 1px solid blue;
}

.main-nav__link:link,
.main-nav__link:visited {
  color: #000;
}

.main-nav__link:hover,
.main-nav__link:active {
  color: rgba(0, 0, 0, 0.8);
}
